<div class="container">
    <form class="loginForm">
       
        <div>
        <input class="loginInput" type="text" name="customername"  placeholder="Customer name">
        </div><br>
    
        <div >
        <input class="loginInput" type="text" name="password"  placeholder="Password">
        </div><br>
    
        <div></div>
        <input type="checkbox">Remember me 
        <a href="#">Forget Password?</a>
    <br><br>
        <button class="loginButton" value="Login" >Login</button><br>
        <!-- {{name}} -->
    
        <p>Don't have an account? <a href="#">Register</a></p>
    </form>
    </div>
    