<div class="bg-primary text-white">
    <p class="text-center p-4 m-0" href="#">Bookease.com</p> <br>
    <div>
      <pre><a  routerLink="home" style="color: white;text-decoration:none">Home</a>     <a href="#" style="color: white;text-decoration:none">Halls</a>     <a routerLink="aboutus" style="color: white;text-decoration:none">AboutUs</a>      <a routerLink="register" style="color: white;text-decoration:none">Register</a></pre>
    </div>
    <hr>
   <p class="final"><i class="fas fa-heart"></i>Make Your Booking Comfortable with BookEase</p>
   
  </div>