
<div class="outer">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <h4>BookEase</h4>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link active" aria-current="page" routerLink="meetingroom"routerLinkActive="active"><i class="bi bi-house-fill me-2"></i>Create MeetingRoom</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>View Hall</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Birthday Halls</a></li>
              <li><a class="dropdown-item" href="#">Marriage Halls</a></li>
            </ul>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link"  routerLink="aboutus"><i class="bi bi-people-fill me-2"></i>About Us</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link"  routerLink="login"><i class="bi bi-telephone-fill me-2"></i>Login</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link"  routerLink="register"><i class="bi bi-telephone-fill me-2"></i>Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  <!-- <div class="vh-100 d-flex justify-content-center align-items-center">
    <h2>Main Content</h2>
  </div> -->
  

<router-outlet></router-outlet>
<app-footer></app-footer>